li {
	font-size: 1.5rem;
	transition: all 3s ease;
}

.header a {
	color: white;
}

.header a:hover {
	text-decoration: none;
	color: yellow;
}

.footer a {
	color: yellow;
	transition: all 3s ease;
}

.footer a:hover {
	text-decoration: none;
	color: red;
}

li:hover {
	transform: scale(1.2);
}

ul {
	background: rgba(11,11,11,.8);
	border-radius: 20px;
}


body {
background-image: url(bg.jpg);
background-size: cover;
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666', GradientType=1 );
font-family: 'Questrial', sans-serif;
}



@media (max-width: 768px) {
  
  h3 {
  	font-size: 1.5rem;
  }

    li {
  	font-size: 1.5rem;
  }


  }


@media (max-width: 576px) {
  
  h3 {
  	font-size: 1.3rem;
  }

    li {
  	font-size: 1.3rem;
  }


  }